---
layout: default
title: Research
---
<section class="page-content">
  <div class="profile-container">
    <div class="profile-image">
      <img src="/assets/images/DSC_6380.jpeg" alt="<%= bioData.name %>">
    </div>
  </div>
  
  <div class="research-header">
    <h4>RESEARCH</h4>
    <p2 class="subtitle">Main Topics that I worked on</p2>
  </div>

  <div class="research-topics">
  {% for topic in site.data.research.topics %}
  <div class="research-topic">
    <div class="topic-title">
      <h6>{{ topic.title }}</h6>
    </div>
    <div class="topic-details">
      <ul>
        {% for detail in topic.details %}
        <li>{{ detail }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

</section>

