---
layout: default
title: Work
---
<section class="page-content">
  <div class="profile-container">
    <div class="profile-image">
      <img src="/assets/images/DSC_6411_wide.jpg" alt="<%= bioData.name %>">
    </div>
  </div>

  <div class="jobs">
    <h2>Work Experience</h2>
    <p class="subtitle">Achievements and Experience</p>

    <p>The Very Energetic Radiation Imaging Telescope Array System (VERITAS) is a ground-based gamma-ray observatory in Arizona, where four Cherenkov telescopes examine the universe’s most violent and energetic processes.</p>
    {% for job in site.data.work.experience %}
    <div class="job-item">
      <div class="job-left">
        <h3>{{ job.title }}</h3>
      </div>
      <div class="job-middle">
        <p>{{ job.period }}</p>
      </div>
      <div class="job-right">
        <ul>
          {% for detail in job.details %}
          <li>{{ detail }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% unless forloop.last %}
    <div class="job-divider"></div>
    {% endunless %}
    {% endfor %}
  </div>
</section>