<!-- views/index.ejs -->
<section class="hero">
  <div class="profile-container">
    <div class="profile-image">
      <img src="/images/DSC_6411_wide.jpg" alt="<%= bioData.name %>">
    </div>
  </div>

  <div class="intro">
    <h2>WHO I AM</h2>
    <h3><%= bioData.title %></h3>
    <p><%= bioData.bio %></p>
  </div>
</section>
