<!-- views/about.ejs -->
<section class="page-content">
  <div class="profile-container">
    <div class="profile-image">
      <img src="/images/DSC_6411_wide.jpg" alt="<%= bioData.name %>">
    </div>
  </div>

  <div class="work-experience">
    <h2>Work Experience</h2>
    <p class="subtitle">Achievements and Experience</p>

    <div class="experience-item">
      <div class="experience-left">
        <h3>POST-DOCTORAL FELLOW</h3>
      </div>
      <div class="experience-middle">
        <p>September 2022 - present</p>
      </div>
      <div class="experience-right">
        <ul>
          <li>Continued leadership within the VERITAS collaboration by chairing the Analysis Coordination Group, leading development of primary analysis package in C++, and extensive student mentorship.</li>
          <li>Developed ML models for multi-modal image classification of gamma-ray images. Wrote custom LSTM, wGAN, conditional GAN and vision transformers neural networks.</li>
        </ul>
      </div>
    </div>

    <div class="experience-item">
      <div class="experience-left">
        <h3>PHD STUDENT</h3>
      </div>
      <div class="experience-middle">
        <p>August 2016 - September 2022</p>
      </div>
      <div class="experience-right">
        <ul>
          <li>PhD astrophysicist with 8 years experience in data science, machine learning, research, software and hardware development.</li>
          <li>As part of the VERITAS collaboration, I observed and analyzed high-energy gamma-rays, which I fit to astrophysical models of Superluminous Supernovae, GRBs, gravitational waves and blazar galaxies. I also supported the collaboration through extensive mentoring and service projects, including lead software development of the primary analysis package written in C++.</li>
          <li>Built, installed and commissioned the mirror panels toward the alignment of the prototype Schwarszchild Couder telescope to <3 arcmin angular resolution.</li>
          <li>Preceptor and Lead Teaching Fellow in the physics department where I was award the Alan Sachs Teaching award.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
