<!DOCTYPE html>
  <header>
    <div class="container">
      <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.data.bio.name }}</a></h1>
      <div class="search-container">
        <form action="{{ site.baseurl }}/search.html" method="get">
          <input type="text" placeholder="Search..." name="query" id="search-box">
          <button type="submit"><img src="{{ site.baseurl }}/assets/images/search-icon.svg" alt="Search"></button>
        </form>
      </div>
    </div>
  </header>
