<!DOCTYPE html>
  <nav>
    <div class="site-nav">
      <button class="menu-toggle" aria-label="Toggle navigation menu">
        <span class="hamburger-icon"><span></span></span>
      </button>
      <ul class="nav-menu">
        <li><a href="{{ site.baseurl }}/work">Work Experience</a></li>
        <li><a href="{{ site.baseurl }}/research">Research</a></li>
        <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
        <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
          <li><a href="{{ site.baseurl }}/posts">Posts</a></li>
      </ul>
    </div>
  </nav>
